*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: sans-serif;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
    
}

.navbar{
    display: flex;
    height: 67px;
}

.navbar li a{
    text-decoration: none;
    color: rgb(11, 86, 133);
}

.navbar li a:hover{
    text-decoration: none;
    color: rgb(70, 163, 221);
    font-size: 1.02rem;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;  
}

.section1{
min-height:100vh;
background-color: grey;
}

.logo{
    font-size: 1.5rem;
}

.dumbell{   
    align-self: left;
    width: 77px;
    height: 75px;
    padding: 0, 204;
    margin-left: 12px;
}

.bodybuilder{
    width : 560px;
    height : 708px;
    padding : 0 35px;
}

.section2 h1{
    font-size: 2.5rem;
}

.section2 p{
    padding: 6px 8vw;
    text-align: center;
}

.section2{
    padding: 73px;
}

.bg-c{
    background-color: black;    
}

.GS{
    padding: 8px;
    color: white;
    background-color: aqua;
    border-style: none;
    font-weight: bolder;
}

.text-white{
    color: whitesmoke;
}

.text-grey{
    color: grey;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
}

.box ul{
    list-style: none;
}

.box ul li{
    margin: 12px 2px;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-content: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

.section3 table td{ 
    border-bottom: 2px solid black;
}

.section3{
    padding: 73px;
}

.section3 h1{
    font-size: 2.5rem;
}

footer{
    padding: 23px;
    text-align: center;
}

.quotes1{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left: 12px;
}

.quotesA{
    font-size: 1.5rem;
    font-weight: bold;
    color:#46ddd9 ;
}

.quotes2{
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(255, 255, 255); 
    margin-left: 12px;
}

.quotesB{
    color: greenyellow;
    font-size: 1.5rem;
    font-weight: bold;
}

.p1{
    color: darkgrey;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12px;
}

.bg-t{
    background-image: url('Image/schedule.webp');
}

@media only screen and (max-width: 600px) {
    .topright{
        visibility: hidden;
    }

    .flex{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        height: auto;
    }

    .box{
        flex-wrap: wrap;
    }

    .box h2{
        font-size: 1.3rem;
        margin-left: 10px;
    }
    .topleft{
        height: 450;
    }

    .section1{
        height: 0px;
        min-height: 55vh;
    }
    .section2{
        padding: 0;
    }

    .table{
        flex-wrap: wrap;
        font-size: small;
    }

    .my-2{
        font-size: 1px;
    }
    
}
